@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Roboto:wght@300;400;500&display=swap');
@import 'reset.scss';

// variables //

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;

$base: 4px;

// variables //

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: $fw-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
