@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap');

// variables //

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;

// variables //

body {
  margin: 0;
  font-family: 'Barlow';
  font-weight: $fw-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
