.main-info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
    
  &__date {
    padding: 20px;
    color: #999999;
    
  }

  &__location {
    padding: 20px 25px;
    text-align: center;
    border-radius: 0 30px 0 30px;
    color: #0da0ea;
    background-color: rgba(13, 159, 234, .08);

    svg {
      margin-left: 4px;
    }
  }
}